{% extends "base.html" %}
{% block head %}
<title>Physical Activity</title>
<!-- Loading Google Visualization Library -->
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type="text/javascript" src="{{url_for('static', filename='js/google-spreadsheet.js')}}"></script>
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['corechart','gauge', 'ColumnChart', 'Table']});
	google.setOnLoadCallback(drawPhys);
  google.setOnLoadCallback(drawStep);

// Physical Activity
      function drawPhys() {
        var options = {
          'showRowNumber': true, 
          'allowHtml': true, 
          width: '80%', 
          height: '110%'
        };
        var d = google.visualization.arrayToDataTable([
          ['Measurements', 'Your Measure', 'Ideal Range', 'Notes'],
          ['Average daily steps', 0, 0, true],
          ['Resting heart rate (bmp)', 0, 0, true]
        ]);
          // Create and draw the visualization.
      var dash = new google.visualization.Table(document.getElementById('phys_div'));
      dash.draw(d, options);
      }

      // FitBit Steps
      function drawStep() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Week1', 'Week2', 'Average'],
          ['Mon',  10000,      9308,         9654],
          ['Tue',  11200,      13500,        12350],
          ['Wed',  15700,      11607,        13603.5],
          ['Thu',  13900,      10110,        12005],
          ['Fri',  11067,      15700,        13383.5],
          ['Sat',  13090,      11210,        12150],
          ['Sun',  6910,       10360,         8635]
        ]);

        // Create and draw the visualization.
        var ac = new google.visualization.ComboChart(document.getElementById('steps_div'));
        ac.draw(data, {
          title : 'Steps',
          width: '80%',
          height: '100%',
          vAxis: {title: "Steps"},
          hAxis: {title: "Day of Week"},
          seriesType: "bars",
          series: {2: {type: "line"}}
        });
      }

</script>
{% endblock %}

{% block content %}
<div class="span6">  
  <h4>Physical Activity</h4>
  <div id='phys_div' ></div>
  <div id='steps_div' ></div>
</div>
{% endblock %} <!-- End graph -->
{% block comments %}
Place holder for comments
{% endblock %} <!-- End content -->