<!DOCTYPE html>
<html>
	<head>
	{% block head %}
		<title>Base Dashboard Page with Two Column</title>
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		<style> body { padding-top: 80px; } </style>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	{% endblock %}
	</head>	

	<body>
	{% block navbar %}
	<div class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<a class="brand" href="/"><img src="/static/img/optmelogo.png" alt="OptMeLogo" height="24"></a>
				<div class="nav-collapse">
					<ul class="nav">
					</ul>
					{% block navbar_right %}
					<ul class="nav pull-right">
						<li><a href="/">Welcome</a></li>
<!-- 						<li><a href="{{url_for('main')}}">Main</a></li> -->
<!-- 						<li><a href="{{url_for('charts')}}">Google Charts</a></li>
						<li><a href="{{url_for('d3charts')}}">D3 Charts</a></li>						 -->
						{% if 'usr' in session %}
						<li><a href="{{url_for('login')}}">logout</a></li>
						<li><a href="{{url_for('charts')}}">G Charts</a></li>
						<li><a href="{{url_for('d3charts')}}">D3 Charts</a></li>						
						{% else %}
						<li><a href="{{url_for('login')}}">login</a></li>
						{% endif %}
					</ul>
					{% endblock %}					
				</div>
			</div>
	</div>
	{% endblock %}

	<div class="container page">
		<div class="content">
		  {% block content %}
		  Content place holder
		  {% endblock %}
		</div>
	</div>

	<!-- Flashing message -->	
		<div id="flashed">
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
		{% endwith %}
		
		{% block footer %}
		<footer class="footer">
			<p>&copy; [Optimize Me]: Contact Us</p>
		</footer>
		{% endblock %}
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="js/bootstrap.min.js"></script>

	</body>
</html>