<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Alternative Gauge Plot</title>       
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.min.js"></script>
    <script type="text/javascript" src="../static/js/dial.chart.js"></script>

  </head>

<body style="background-color:#FFFFFF">
<!-- Navigation Bar -->
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img src="/static/img/optmelogo.png" alt="OptMeLogo" height="24"></a>
<!--         <div class="nav-collapse">
          <ul class="nav">
          </ul>
          {% block navbar_right %}
          <ul class="nav pull-right">
            <li><a href="/">Welcome</a></li>
            <li><a href="{{url_for('main')}}">Main</a></li>
            <li><a href="{{url_for('charts')}}">Google Charts</a></li>
            <li><a href="{{url_for('d3charts')}}">D3 Charts</a></li>            
            {% if 'usr' in session %}
            <li><a href="{{url_for('login')}}">logout</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}">login</a></li>
            {% endif %}
            <li><a href="{{url_for('about')}}">About</a></li>
          </ul>
          {% endblock %}          
        </div>
 -->      </div>
    </div>

  <div class="container-fluid">

    <!-- Gauge Plot -->
    <div id="chart" class="span6">
    <style type="text/css">

    #dial-0 .needle path {
      fill: beige;
    }

    #dial-1 .needle path {
      fill: #b21f24;
    }

    #dial-2 .needle path {
      fill: steelblue;
    }

    #dial-3 .needle path {
      fill: beige;
    }
        
    circle.label {
      fill: white;
    }       
  
    line.label {
      stroke: white; 
      stroke-width: 1px;
    }
  
    text.label {
      font-family: Arial;
      font-size: 10px;
      fill: white; 
    }

    #dial-1 text.label {
      font-size: 10px;      
    } 

    #dial-2 text.label {
      font-size: 10px;      
    } 

    #dial-3 text.label {
      font-size: 10px;      
    } 

    </style>
    <h4>Predicted CVD Risks</h4>
    <button id="update" onclick="increase()">Increase</button>
    <button id="update" onclick="increase()">Decrease</button>
    <script type="text/javascript">

      (function(chartselector) {

        var w = 500, h = 500, rr = 100;

        var layout = [ 
          { x: 1.2*rr, y: 125, r: rr, m: 100, ticks: 10, mark: 'line', dtit:'full CVD (BMI)'}, 
          { x: 3.6*rr, y: 125, r: rr, m: 100, ticks: 2, mark: 'line', dtit:'hard CVD (BMI)' }, 
          { x: 1.2*rr, y: 375, r: rr, m: 100, ticks: 2, mark: 'line', dtit:'full CVD (lipids)' }, 
          { x: 3.6*rr, y: 375, r: rr, m: 100, ticks: 2, mark: 'line', dtit:'hard CVD (lipids)' } 
        ];
        var charts = layout.map(function(d) { 
          return NBXDialChart()
            .width(d.r * 2)
            .height(d.r * 2)
            .domain([0, d.m])
            .range([-150, 150])
            .minorTicks(d.ticks)
            .minorMark(d.mark);
        });      
      
        var svg = d3.select(chartselector)
          .append('svg:svg')
            .attr('width', w) 
            .attr('height', h);
      
        var dials = svg.selectAll('g.dial')
            .data(layout)
          .enter().append('svg:g')
            .attr('class', 'dial')
            .attr('id', function(d, i) { return 'dial-' + i; })
            .attr('transform', function(d) { return 'translate(' + (d.x - d.r) + ',' + (d.y - d.r) + ')'; } );

        dials.each(function(d, i) { d3.select(this).data([20]).call(charts[i]); });

        // Append dial units
        dials.append("text")
          .data(layout)
          .attr("x", function(d) {return d.r;})
          .attr("y", function(d) {return 1.75*d.r})
          .style("text-anchor", "middle")
          .style("fill", "beige")
          .text("(%)");

        // Append dial name
        dials.append("text")
          .data(layout)
          .attr("x", function(d) {return d.r;})
          .attr("y", function(d) {return 0.8*d.r})
          .style("text-anchor", "middle")
          .style("fill", "beige")
          .text(
            function(d,i) {
              return d.dtit;
            });

        window.increase = function() {
          dials.each(function(d, i) { 
            d3.select(this)
              .data([ Math.random() * charts[i].domain()[1] ])
              .call(charts[i]); 
          });
        };

      })('#chart');
    </script>
    </div> 
    <!-- End Gauge Chart -->

    <div id="chart" class="span6">
    <h4>Inside Tracker data</h4>
      <!-- Line Plot -->

      <style>

      body {
        font: 10px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .bar {
        fill: steelblue;
      }

      .x.axis path {
        display: none;
      }

      </style>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script>

      var margin = {top: 20, right: 20, bottom: 30, left: 40},
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

      var x = d3.scale.ordinal()
          .rangeRoundBands([0, width], .1);

      var y = d3.scale.linear()
          .rangeRound([height, 0]);

      var color = d3.scale.ordinal()
          .range(["#FFFF66", "#FFFF99", "#CCFF99", "#99FF33", "#99CC00", "#FF6666", "#FF0000"]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left")
          .tickFormat(d3.format(".2s"));

      var svg = d3.select("body").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      d3.csv('{{url_for('static', filename='data.csv')}}', function(error, data) {
        color.domain(d3.keys(data[0]).filter(function(key) { return key !== "State"; }));

        data.forEach(function(d) {
          var y0 = 0;
          d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
          d.total = d.ages[d.ages.length - 1].y1;
        });

        data.sort(function(a, b) { return b.total - a.total; });

        x.domain(data.map(function(d) { return d.State; }));
        y.domain([0, d3.max(data, function(d) { return d.total; })]);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Blood Biomarkers");

        var state = svg.selectAll(".state")
            .data(data)
          .enter().append("g")
            .attr("class", "g")
            .attr("transform", function(d) { return "translate(" + x(d.State) + ",0)"; });

        state.selectAll("rect")
            .data(function(d) { return d.ages; })
          .enter().append("rect")
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.y1); })
            .attr("height", function(d) { return y(d.y0) - y(d.y1); })
            .style("fill", function(d) { return color(d.name); });

        var legend = svg.selectAll(".legend")
            .data(color.domain().slice().reverse())
          .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });

      });
      </script>
      </div>
  <!-- End Line Plot -->
  </div> 
  <!-- End Container -->

</body>
</html>