
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10; chrome=1;">
	<meta name="fragment" content="!">
	<base target="_blank">
	<link href='/static/forms/client/css/1152744781-formview_embedded_ltr.css' type='text/css' rel='stylesheet'>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body class="ss-base-body" dir="ltr">
	<div class="ss-form-container">
	<div class="ss-form">
		<form action="https://docs.google.com/forms/d/1ir5d8jD_Dje71OFC8ozULxhdzwtEif9OEU6z2jgShCg/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="">
			<ol style="padding-left: 0">

			<!-- First name text box -->
				<div class="ss-form-question errorbox-good">
					<div dir="ltr" class="ss-item  ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_504912035">
								<div class="ss-q-title">
									Client First Name
								</div>
<!-- 								<div class="ss-q-help ss-secondary-text" dir="ltr">
								(place holder for form helper)
							</div> -->
							</label>
							<input type="text" name="entry.504912035" value="" class="ss-q-short" id="entry_504912035" dir="auto">
						</div>
					</div>
				</div> 

			<!-- Last name text box -->
			<div class="ss-form-question errorbox-good">
				<div dir="ltr" class="ss-item  ss-text">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_2077394765">
							<div class="ss-q-title">
								Client Last Name
							</div>
<!-- 							<div class="ss-q-help ss-secondary-text" dir="ltr">

							</div> -->
						</label>
						<input type="text" name="entry.2077394765" value="" class="ss-q-short" id="entry_2077394765" dir="auto">
					</div>
				</div>
			</div> 

			<!-- Coach's note text area -->
			<div class="ss-form-question errorbox-good">
				<div dir="ltr" class="ss-item  ss-paragraph-text">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_1593116849">
							<div class="ss-q-title">Recommendations:
							</div>
							<div class="ss-q-help ss-secondary-text" dir="ltr">

							</div>
						</label>
						<textarea name="entry.1593116849" rows="12" cols="60" class="ss-q-long" id="entry_1593116849" dir="auto">
						</textarea>

					</div>
				</div>
			</div>
			<div class="ss-item ss-navigate">
				<table id="navigation-table">
					<tbody>
						<tr>
							<!-- Submit Button -->
							<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
								<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn">Submit recommendation</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ol>
	</div>
</div>
</div>
</div>
</div>

<script type='text/javascript' src='/static/forms/client/js/500221314-formviewer_prd.js'></script>
<script type="text/javascript">_initFormViewer(
	"[100,\x22#ccc\x22,[]\n]\n");
</script>
</body>
</html>