{% extends "base.html" %}
{% block title %}
<title>Diet and Nutrition</title>
{% endblock %}

{% block headcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/tables.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block headscript %}
<!-- Loading Google Visualization Library -->
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type="text/javascript" src="{{url_for('static', filename='js/google-spreadsheet.js')}}"></script>
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['corechart','gauge', 'ColumnChart', 'Table']});
	google.setOnLoadCallback(drawDiet);

// Diet and Metabolism
function drawDiet() {
  var options = {'showRowNumber': true, 'allowHtml': true, width: '100%', height: '110%'};
  var d = google.visualization.arrayToDataTable([
    ['Nutrient', 'Intake', 'Needs', 'Difference'],
    ['Calories (kcals)', 0, 0, 0],
    ['Fat (g)', 0, 0, 0],
    ['Saturated Fat (g)', 0, 0, 0],
    ['Protein (g)', 0, 0, 0],
    ['Carbohygrate (g)', 0, 0, 0],
    ['Fiber (g)', 0, 0, 0],
    ['Sodium (mg)', 0, 0, 0]
    ]);
          // Create and draw the visualization.
          var dash = new google.visualization.Table(document.getElementById('diet_div'));
          dash.draw(d, options);
        }
      </script>
      {% endblock %}

      {% block main %}
      <div class="span6">  
        <h4>Current dietary intake</h4>
        <div id='diet_div' ></div>
      </div>

      <div class="span6">
        <table class="table table-hover">
          <thead>
          <tr>
              <th class="span3">
                  <input type="Date">
                  Date
              </th>
              <th class="span3">
                  <span class="line"></span>User
              </th>
          </tr>
          </thead>
          <tbody>
            {% for row in x %}
            <tr class="first">
              <td>{{ row['date']|tojson|safe }}</td>
              <td>{{ row['user'] }}</td>
            </tr>
          </tbody>
          {% endfor %}  
        </div>
        {% endblock %} <!-- End graph -->
