{% extends "base.html" %}
{% block title %}
<title>Diet and Nutrition</title>
{% endblock %}

{% block headcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/index.css') }}" type="text/css" media="screen" />    
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/tables.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block headscript %}
{% endblock %}

{% block upperstat %}
<!-- upper main stats -->
<div id="main-stats">
  <div class="row-fluid stats-row">
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (g)</span>
        Less Calories
      </div>
      <span class="date">Today</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (g)</span>
        Less Saturated Fat
      </div>
      <span class="date">This week</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (mg)</span>
        Less Sodium
      </div>
      <span class="date">a month ago</span>
    </div>
    <div class="span3 stat last">
      <div class="data">
        <span class="number">x (g)</span>
        More Fiber
      </div>
      <span class="date">last six months</span>
    </div>
  </div>
</div><!-- end upper main stats -->
{% endblock %}

{% block main %}
<!--       <div class="span6">  
        <h4>Current dietary intake</h4>
        <div id='diet_div' ></div>
      </div> -->

      <div class="span6">
        <h4>Current dietary intake</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">
                <!--                   <input type="Date"> -->
                Nutrient
              </th>
              <th class="span3">
                Intake
              </th>
              <th class="span3">
                Need
              </th>
              <th class="span3">
                <span class="line"></span>Difference
              </th>
            </tr>
          </thead>
          <tbody>
            {% for row in x %}
            <tr class="first">
              <td>{{ row['Nutrient'] }}</td>
              <td>{{ row['Intake'] }}</td>
              <td>{{ row['Need'] }}</td>
              <td>{{ row['Difference'] }}</td>
            </tr>
          </tbody>
          {% endfor %}  
        </div>
        {% endblock %} <!-- End graph -->
