{% extends "base.html" %}
{% block title %}
<title>Physical Measurements</title>
{% endblock %}

{% block headcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/index.css') }}" type="text/css" media="screen" />    
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/tables.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block headscript %}
<!-- flot charts -->
<script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flot.resize.js') }}"></script>
<!-- morrisjs -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
<!-- call all plugins -->
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% endblock %}

{% block upperstat %}
<!-- upper main stats -->
<div id="main-stats">
  <div class="row-fluid stats-row">
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (lbs)</span>
        Lighter
      </div>
      <span class="date">Today</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (lbs)</span>
        Lighter
      </div>
      <span class="date">This week</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x %</span>
        Less Body Fat
      </div>
      <span class="date">a month ago</span>
    </div>
    <div class="span3 stat last">
      <div class="data">
        <span class="number">x %</span>
        More Lean Body Weight
      </div>
      <span class="date">last six months</span>
    </div>
  </div>
</div><!-- end upper main stats -->
{% endblock %}


{% block main %}
<div class="span6">

    <h4>Physical Measurements</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="span3">
            Category
        </th>
        <th class="span3">
            Your Measure
        </th>
        <th class="span3">
            Ideal Range
        </th>
    </tr>
</thead>
<tbody>
    {% for row in x1 %}
    <tr class="first">
      <td>{{ row['measure'] }}</td>
      <td>{{ row['yours'] }}</td>
      <td>{{ row['ideal'] }}</td>
  </tr>
  {% endfor %}  
</tbody>
</table>
</div>

<!-- <div class="span12">  
  <div id='anthro_div' ></div>
  <div id='bmi_div' style='height: 400px; vertical-align: middle;'></div>
  <div id='bodyfat_div' style='height: 400px; vertical-align: middle;'></div>     
</div> -->
{% endblock %} <!-- End graph -->