<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>Optimize Me - Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap-responsive.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap-overrides.css') }}" type="text/css" rel="stylesheet" />    

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/elements.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}">

    <!-- libraries -->
    <link href="{{ url_for('static', filename='css/lib/font-awesome.css') }}" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/signin.css') }}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


    <!-- background switcher -->
    <div class="bg-switch visible-desktop">
        <div class="bgs">
<!--             <a href="#" data-img="10.jpg" class="bg">
                <img src="{{ url_for('static', filename='img/bgs/10.jpg') }}" />
            </a> -->
            <a href="#" data-img="optme-bgs1.jpg" class="bg active">
                <img src="{{ url_for('static', filename='img/bgs/optme-bgs1.jpg') }}" />
            </a>            
            <a href="#" data-img="optme-bgs2.jpg" class="bg">
                <img src="{{ url_for('static', filename='img/bgs/optme-bgs2.jpg') }}" />
            </a>            
        </div>
    </div>

    <div class="row-fluid login-wrapper">
        <a href="/templates/base.html">
            <img class="logo" src="{{ url_for('static', filename='img/optmelogo.png')}}">
        </a>

        <div class="span4 box">
            <div class="content-wrap">
                <h6>Log in</h6>
                <input class="span12" type="text" placeholder="E-mail address">
                <input class="span12" type="password" placeholder="Your password">
                <a href="#" class="forgot">Forgot password?</a>
                <div class="remember">
                    <input id="remember-me" type="checkbox">
                    <label for="remember-me">Remember me</label>
                </div>
                <a class="btn-glow primary login" href="index.html">Log in</a>
            </div>
        </div>

        <div class="span4 no-account">
            <p>Don't have an account?</p>
            <a href="signup.html">Sign up</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {
            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");
                console.log(bg);
                $("html").css("background-image", "url('../static/img/bgs/" + bg + "')");
            });

        });
    </script>
</body>
</html>