{% extends "signin.html" %}
{% block title %}
<title>Optimize Me - Sign up</title>
{% endblock%}

<!-- this page specific styles -->
{% block headcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled/signin.css') }}" type="text/css" media="screen" />
{% endblock %}

    <!-- <div class="row-fluid login-wrapper"> -->
    {% block content %}
        <div class="span4 box">
            <div class="content-wrap">
                <h6>Sign Up</h6>
                <input class="span12" type="text" placeholder="E-mail address">
                <input class="span12" type="password" placeholder="Password">
                <input class="span12" type="password" placeholder="Confirm Password">
                <div class="action">
                    <a class="btn-glow primary signup" href="index.html">Sign up</a>
                </div>                
            </div>
        </div>

        <div class="span4 no-account">
            <p>Already have an account?</p>
            <a href="{{ url_for('login') }}">Sign in</a>
        </div>
    {% endblock %}
    <!-- </div> -->
